<!DOCTYPE html>
<html lang="es-us">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>LifeStyle - Nutrición</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
</head>

<body>

  <header>
    <h1>LifeStyle - Nutrición</h1>
  </header>
  <nav>
    <!-- Nav Item - Dashboard -->
    <li class="">
      <i class=""></i>
      <span>Inicio</span></a>
    </li>


    <!-- Nav Item - Pages Collapse Menu -->
    <li class="">
      <i class=""></i>
      <span>Agenda</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="">
      <i class=""></i>
      <span>Clientes</span></a>
    </li>

      <!-- Nav Item - Utilities Collapse Menu 
      <li class="nav-item">
        <a class="nav-link" href="seguimiento.html">
          <i class="fas fa-fw fas fa-weight"></i>
          <span>Seguimiento</span></a>
      </li>
      -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="">
      <i class=""></i>
      <span>Alimentos</span></a>
    </li>

    <!-- Nav Item - Charts -->
    <li class="">
        <i class=""></i>
        <span>Recetas</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="">
      <i class=""></i>
      <span>Equivalencias</span></a>
    </li>


    <!-- Nav Item - Tables -->
    <li class="">
      <i class=""></i>
      <span>Modelos</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="">
      <i class=""></i>
      <span>Registrar Cliente</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="">
      <i class=""></i>
      <span>Programar Consulta</span></a>
    </li>

    </ul>
  </nav>

    <!-- Main Content -->

    {% block content %}

    {% endblock %}


      <!-- End of Main Content -->


      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Life Style 2020</span>
          </div>
        </div>
      </footer>

</body>

</html>
