{%extends "Nutricion/base.html"%}

{% load static %}

{% block content %}

<h1>Categoria de alimentos</h1>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Lácteos y derivados"/>
    <input type="submit" value="Lacteos y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Huevos y derivados"/>
    <input type="submit" value="Huevos y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Cárnicos y derivados"/>
    <input type="submit" value="Cárnicos y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Pescados,moluscos,reptiles,crustáceos y derivados"/>
    <input type="submit" value="Pescados,moluscos,reptiles,crustáceos y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Grasas y aceites"/>
    <input type="submit" value="Grasas y aceites" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Cereales y derivados"/>
    <input type="submit" value="Cereales y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Legumbres,semillas,frutos secos y derivados"/>
    <input type="submit" value="Legumbres,semillas,frutos secos y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Verduras,hortalizas y derivados"/>
    <input type="submit" value="Verduras,hortalizas y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Azúcar,chocolate y derivados"/>
    <input type="submit" value="Azúcar,chocolate y derivados" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Bebidas"/>
    <input type="submit" value="Bebidas" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Miscelánea"/>
    <input type="submit" value="Miscelánea" />
</form>

<form action="/Nutricion/alimentos/alimentos_clasificados/" method="POST">{% csrf_token %}
    <input type="hidden" name="categoria" value="Productos de uso nutricional específico"/>
    <input type="submit" value="Productos de uso nutricional específico" />
</form>

{%endblock%}