{% extends "base.html" %}
{% block content %}
<h2>Estilo de vida</h2>
<form action="{{ url_for('EvaluacionAntropometrica') }}" method="POST">
    <p>Actividad diaria: 
        <input type="radio" name='actividad' value='muy ligera'> Muy ligera
        <input type="radio" name='actividad' value='ligera'> Ligera
        <input type="radio" name='actividad' value='moderada'> Moderada
        <input type="radio" name='actividad' value='activa'> Activa
        <input type="radio" name='actividad' value='muy activa'> Muy activa
    </p>
    
    <p>Consumo de alcohol: 
        <input type="radio" name='sn_cliente_alcohol' value='si'> Si
        <input type="radio" name='sn_cliente_alcohol' value='no'> No
    </p>
    <p>Consumo de café: 
        <input type="radio" name='sn_cliente_cafe' value='si'> Si
        <input type="radio" name='sn_cliente_cafe' value='no'> No
    </p>
    <p>Consumo de tabaco: 
        <input type="radio" name='sn_cliente_tabaco' value='si'> Si
        <input type="radio" name='sn_cliente_tabaco' value='no'> No
    </p>
    <p>Horas de sueño:  <input type='number' name='sueño'></p>
    <p>Frecuencia de comidas:  
        <input type="radio" name='frecuencia_comida' value='2'> 2
        <input type="radio" name='frecuencia_comida' value='3'> 3
        <input type="radio" name='frecuencia_comida' value='4'> 4
        <input type="radio" name='frecuencia_comida' value='5'> 5
        <input type="radio" name='frecuencia_comida' value='5'> 6
    </p>
    <p>¿Quién se encargada de la compra?: <input type='text' name='encargado_compra' /></p>
    <p>Frecuencia de compras: <input type='text' name='frecuencia_compras' /> </p>

    <p>¿Te gusta cocinar?:
        <input type="radio" name='sn_gustar_cocinar' value='si'> Si
        <input type="radio" name='sn_gustar_cocinar' value='no'> No
    </p>

    <p>¿A qué hora del día tienes más hambre?:
        <input type="radio" name='mas_hambre' value='desayuno'> desayuno
        <input type="radio" name='mas_hambre' value='media-mañana'> media-mañana
        <input type="radio" name='mas_hambre' value='almuerzo '> almuerzo 
        <input type="radio" name='mas_hambre' value='merienda'> merienda
        <input type="radio" name='mas_hambre' value='cena'> cena
    </p>

    <p>Desayuno habitual: <input type='text' name='desayuno_habitual' /> </p>
    <p>Merienda habitual: <input type='text' name='merienda_habitual' /></p>
    <p>Preferencias de comida en la merienda: <input type='text' name='preferencia_merienda' /> </p>
    <p>Preferencias de comida en el desayuno: <input type='text' name='preferencia_desayuno' /> </p>

    <p>¿Sueles hacer 1 o 2 platos en la comida?:
        <input type="radio" name='platos' value='1'> 1
        <input type="radio" name='platos' value='2'> 2
    </p>

    <p>¿Cuántas comidas quieres realizar al día?:
        <input type="checkbox" name='comidas_realizar' value='desayuno'> desayuno
        <input type="checkbox" name='comidas_realizar' value='media-mañana'> media-mañana
        <input type="checkbox" name='comidas_realizar' value='almuerzo '> almuerzo 
        <input type="checkbox" name='comidas_realizar' value='merienda'> merienda
        <input type="checkbox" name='comidas_realizar' value='cena'> cena
    </p>
    <input type="submit" value="Continuar"/> 
</form>
{% endblock %}